body {
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 150%;
  background: #EBD5CB;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

#home {
  position: relative; 
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #home::before {
  content: "";
  background-image: url("../images/terracotta.jpeg");
  filter: grayscale(25%) opacity(50%);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
} */

#home a {
  text-decoration: underline;
}

h1 {
  font-size: 36px;
}

.container {
  z-index: 10;
}

.socialBtnContainer {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-primary {
  background: #453e3e;
  /* background: #925350; */
  border: none;
}

.btn-primary:hover {
  background: #524A4B;
}

.profilePictureContainer {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  transform: translate(33%, -50%);
}

#about {
  padding-bottom: 12vh;
}

#about .card {
  margin: 4vh auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  color: #222;
}

#portfolio .card {
  /* border: none; */
  margin-top: 2vh;
  margin-bottom: 6vh;
}

#portfolio .card-img-top {
  height: auto !important;
}

.is-rounded {
  border-radius: 50% !important;
}

ul.navList {
  display: flex;
  justify-content: center;
}

a {
  color: #444;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* Rounded corners */
.card-img-top,
.card,
#form-container {
  border-radius: 5px;
}

.rounded-corners {
  border-radius: 5px;
}

.card-img-top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-footer {
  border: none;
  align-items: center;
}

.wrapper {
  margin-bottom: 10rem;
}
.field {
  padding: 15px !important;
}

.hidden {
  display: none;
}

.field {
  padding: 50px;
}

footer {
  position: fixed;
  /* height: 150px; */
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  #about img {
    width: 350px;
    float: right;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  #about img {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }
}

