body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  line-height: 150%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #212121;
}

header {
  margin-bottom: 4rem;
}

nav {
  padding-top: 1rem;
  vertical-align: middle;
}

main {
  flex: 1 0 auto;
}

p {
  font-family: 'Lora', serif;
}

h1 {
  font-size: 36px;
}
h4 {
  font-size: 20px;
}

i {
  vertical-align: text-bottom;
}

a {
  color: #4db6ac ;
}

a:hover {
  color: #b2dfdb;
}

.card-title {
  font-size: 20px !important;
}

.bold {
  font-weight: bold;
}

.julie {
  width: 25%;
}

.buttonGroup {
  display: flex;
}

/* Particles for landing page */
#particle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #424242 ;
}

#julie {
position: relative;
top: 45%;
bottom: 0;
right: 0;
left: 0;
width: 100%;
margin: 0 auto;
color: #fff;
font-size: 100px;
text-align: center;
}

#julie:hover {
color: #b2dfdb;
}

#julie:active {
color: #b2dfdb;
}

#julie:focus {
color: #b2dfdb;
}

@media screen and (max-width: 1024px) {
  header {
    margin-bottom: 1rem;
  }
  nav {
    height: 100px;
  }
  #nav-mobile {
    position: relative;
    width: 100%;
    padding-top: 45px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  #julie {
    font-size: 50px;
  }
}

@media screen and (max-width: 568px) {
  .brand-logo {
    font-size: 24px;
  }
}