body {
  background-color: #222;
  font-family: 'Montserrat', sans-serif;
}

/* Particles */
/* Reset. */
body {
  margin: 0;
  background: #ecf3f3;
}

canvas {
  display: block;
  /* vertical-align: bottom; */
}

/* Particle container. */
#particle-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222;
}

#julie {
  position: relative;
  top: 45%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-size: 80px;
  text-align: center;
}

#julie:hover {
  color: #999;
}

#julie:active {
  color: #999;
}

#julie:focus {
  color: #999;
}

a {
  color: #fff;
}

/* Rounded corners */
.card-img-top,
.card,
#form-container {
  border-radius: 15px;
}

.rounded-corners {
  border-radius: 15px;
}

.card-img-top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.field {
  padding: 15px !important;
}

.hidden {
  display: none;
}

.field {
  padding: 50px;
}

.footer {
  padding: 1.5rem;
}